package {
    name "azure-sdk" 
    author "Brendan Hansen" 
    url "" 
    description "An (incomplete) SDK for Azure Resources" 
    version "0.0.3" 
}

config {
    dependency_source_path "./lib" 
    dependency_binary_path "./bin" 
}

dependencies {
    http-client "0.0.34" git="http://github.com/onyx-lang/pkg-http-client" 
}

lsp {
    mode "project" 
    source_files "test" 
    include_dirs "" 
    working_dir "." 
}

